.item {
    margin: 0.5rem 0;
    width: 32%;
    height: 33vh;
    border-radius: 0.5rem;
    object-fit: cover;
  }
.item:hover{
  filter: opacity(.8);
}


  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;
 }
 
 .gallery .pics{
   -webkit-transition: all 350ms ease;
   transition:all 350ms ease;
   cursor: pointer;
   margin-bottom: 12px;
  }
 @media (max-width: 991px){
   .gallery {
       -webkit-column-count: 2;
       -moz-column-count: 2;
       column-count: 2;
       
   }
 }

